main{
    background-color:#ececec;
    max-width: 100%;
    
    overflow: hidden;
    overflow-y: scroll;
}

#main{
    /* margin: 100px; */
    width: 80%;
    
    justify-content: center;
    flex-direction: row;
    margin: 100px  auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#information{
    background-color: #ffffff;
    border-radius:5px;
    max-width: 100%;
     height: 470px;
    margin: 0px 0px 50px 0px   ;
    display: flex;
    flex-direction: row;                                                    
}
 
#informartionimg{
    display: block;
    flex-direction: column;
    flex-basis: 33%;
    overflow: hidden;
    align-items: center;
    
    
}

#informartionimg #main{
    height: 60%;
    margin: 0;
    padding: 0; 
    width: 100%;
}
#informartionimg #main img{
    width: 100%;
    height: 100%;
}

#informartionimg #detail{
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around   ;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}
#informartionimg #detail img{
    border: 1px solid pink;
    border-radius: 10px;
    width: 27%;
    height: 67%;
    margin: 0px 0px 0px 5px;
}

 
#productinformation{
    border-left: 1px solid pink;
    flex-basis: 67%;
    overflow: hidden;
    margin:  0px 0px 0px 10px;
    padding: 0px 0px 0px 30px ;
}
#main .name{
    font-size: 150%;
    padding: 10px 0px;
    font-weight: bold;
    color: #343739;
     
}
#productinformation .price{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    margin-left: -14px;
}
#productinformation .pricelast{
    color: #e30019;
    font-size: 170%;
    font-weight: bold;
}
#productinformation .pricefirst{
    color: brown;
    font-size: 110%;
}
#productinformation .discount{
    border: 1px solid #e30019;
    border-radius: 3px;
    width: 40px;
    padding: 2px;
}
#productinformation form{
    width: 50%;
    
    overflow: hidden;
}
.num{
    
    width: 100px;
    height: 20px;
    border: 1px solid pink;
    font-size: medium;
    border-radius: 5px;
}
#formleft{
    margin-top:30px;
}
#infform{
    display: flex;
    width: 72%;
    justify-content: space-between;
    margin-top: 10px;
}
main form #button{
    margin: 0;
    height: auto;
    padding:  10px;
    background-color: #e30019;
    color: #ffffff;
    font-size: smaller;
     
    border-radius: 3px;
    border: none;
}
 
main form #button:hover{
    background-color: #e44e60;
}
main form span{
    font-weight: normal;
    font-size: 80%;
}
 
#productinformation .producer{
    font-weight: bold;
    font-size: 110%;
    padding: 10px 0;
}
#productinformation .producer span{
    font-weight: normal;
    font-size:larger;
}
 

#describe{
    max-width: 100%;
    margin: 0px 0px 50px 0px   ;
    display: flex;
    flex-direction: row;  
}
#describe .name{
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
}
#productdescribe{
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    flex-basis: 56%;
    margin: 0px 15px 0px 0px ;
    background-color: #ffffff;
}
.number{
    font-weight: bold;
    font-size: 130%;
}
#parameter{
    margin-top: 30px;  
    overflow: hidden;
}
.listparamater ul{
    max-width: 100%; 
    height: auto;
    border-radius: 3px;
    border: 1px solid rgb(229 208 211); 
}
.listparamater li{
    display: flex;
    padding-left: 10px;
    background-color:rgb(245, 238, 239);
    border-bottom: 1px solid rgb(229 208 211);
}
.para{
    align-items: center;
    height: 40px;
    overflow: hidden;
}
.para .p1{
    width: 50%;
    font-weight: 600;
   
   
  
}
.para #p2{
    background-color: #ffffff;
    width: 50%;
    margin: auto;
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    margin: 0;
   
    align-items: center;
}
 
#listproducts{
    padding: 0px 20px 0px 20px;
    border-radius: 5px;
    flex-basis: 44%;
    background-color: #ffffff;
  
}
#listproduct{
     font-family: Arial, Helvetica, sans-serif;
     
}
#listproduct ul{
     list-style: none;
     overflow-y: scroll;
     height: 500px;
}
#listproduct li{
    margin: 0px 0px 20px 0px;
    
}
#listproduct form{
    display: flex;
    overflow: hidden;
}
#listproduct img{
    width: 127px;
    border-radius: 8px;
    height: 70px;
    border:2px  solid pink;
}
 
#listproduct #infpro_by_catid{
    padding-left: 10px;
     
}
#listproduct #sub{
    border-radius: 3px;
    background-color: red;
    color: white;
    padding: 3px;
    margin-top: 10px;
}
#listproduct #inf_img{
   width: 100px;
   height: 60px;
}
#listproduct p{
    width: 300px
}

#evaluate{
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 100%;
    padding: 30px;
    margin: 0px 0px 50px 0px   ;
    display: block;
    flex-direction: column;   
}
.sao i{
    font-size: 130%;
    color: #fad73d;
}
#evaluation{
    display: flex;
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.evaluation1{
    width: 30%;
    display: block;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}
.score{
    font-size: 220%;
    color: red;
    font-weight: 700;
}
.evaluation2{
    width: 70%;
    justify-content: center;
}
.evaluation2 button{
    margin: 0px 80px 0px 20px ;
    background-color: rgb(220, 140, 140);
    border-radius: 20px;
    height: 20px;
    width: 200px;
}
.evaluation2 ul{
    list-style: none;
}
.evaluation2 li{
    display: flex;
    align-items: center;
    margin: 5px 0px;
    padding: 7px;
}
.evaluation2 i{
    font-size: 80%;
    color: #fad73d;
    margin: 2px;
}
#comment{
    border-top: solid;
    margin: 20px 0px 0px 0px ;
}
#comment ul{
    list-style: none;
}
#comment li{
    padding-top: 10px;
}
