
:root {
    --color-primary: #d87093;
    --color-danger:#FF7782;
    --color-success:#41f1b6;
    --color-warning: #ffbb55;
    --color-white: #f7f7fb;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: white;

    --card-border-radious: 2rem;
    --border-radious-1: 0.4rem;
    --border-radious-2: 0.8rem;
    --border-radious-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem rgba(132,139,200,0,18);
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    /* appearance: none; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    overflow-x: hidden;
    background: var(--color-background);
}
.container {
    /* display: float; */
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    /* grid-template-columns: 15rem auto 23rem; */
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color:var(--color-dark-variant);
}

b {
    color: var(--color-dark);

}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    float: left;
    width: 17%;
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}


aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 200px;
    height: 100px;
}

aside .close {
    display: none;
}
/* ==========SIDEBAR========== */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease-in;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 7rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover {
    color: var(--color-primary);
}
aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radious-1);
}
/* ================ MAIN =============== */
main {
    margin-top: 1.4rem;
    float: left;
    width: 83%;
}

main .top {
    height: 50vh;
}

main .top table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radious);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .top table td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main h2 {
    margin: 0 0 20px 20px;
    font-weight: bold;
    color: black;
    font-style: italic;
}

main .bottom {
    position: relative;
}
main .bottom table {
    width: 100%;
    border-collapse: collapse;
}

main .bottom table td {
    text-align: left;
    padding: 8px;
}
input[type=text], input[type=gmail], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=radio] {
    margin: 4px;
  }
  input:focus {
    outline: 2px solid black; /* đổi mầu viền sang mầu xanh đậm lên */
  }
  
  #work{
    background-color: rgb(161, 122, 232);
    padding: 5px 10px ;
    color: white;
    font-weight: bold;
    border: solid  rgb(161, 122, 232);
    border-radius: 5px;

  }
  #add{
    background-color: rgb(233, 155, 155);
    color: white;
    padding: 10px 20px ;
    font-weight: bold;
    border: solid;
    border-radius: 5px;

  }


   





